section.section.-fifth-section
  .container
    .row.content
      .col-md-6
        h2 Контакты
        p.-italic Остались вопросы?
        p.text Заполните форму и наш кондитер ясвяжется с вами
        form
          .form-group
            label(for="formGroupExampleInput")
            input#formGroupExampleInput.form-control(type="text" placeholder="Ваше имя")
          .form-group
            label(for="formGroupExampleInput2")
            input#formGroupExampleInput2.form-control(type="text" placeholder="Email адрес")
          .form-group
            label(for="formGroupExampleInput2")
            input#formGroupExampleInput2.form-control(type="text" placeholder="Ваш вопрос")
          .btn.btn-danger Отправить
      .col-md-1
        p
      .col-md-5
        p.tel Или позвоните по телефону:
          br
          a(href="tel:89068999296") +7 906 899 92 26
        p.email Наша почта: bakerybypavel@mail.ru
        p.socials Мы в соц. сетях
        .socials-container
          .vk
          .inst
      img.strawberry(src="./assets/images/strawberry.png")