section.section.-section-main
  .container
    .row.section__content
      .bg-images
        img(src="./assets/images/section-main__bg-strawberry.png")
        img(src="./assets/images/section-main__bg-berry1.png")
        img(src="./assets/images/section-main__bg-berry2.png")
      .col-md-7.col-sm-7
        h1  Торты
          br
          | на заказ
        p.-italic ручная работа
        .btn.btn-danger ВЫБРАТЬ ТОРТ
        .row.features
          .col-md-5.col-sm-7
            .features-container
              img(src="./assets/images/section-main__flower.png")
              p Натуральные
                br
                |ингридиенты
          .col-md-7.col-sm-5
            .features-container
              img(src="./assets/images/section-main__delivery.png")
              p Доставка бесплатно
                br
                | при заказе от 2000 рублей
      .col-md-5.col-sm-5
        img.cake(src="./assets/images/section-main__cake.png")