nav.navbar.footer
  .navbar__logo
    a Cakes
  .navbar__links
    a наши торты
    a индивидуальный заказ
    a отзывы
    a о нас
    a как заказать
    a контакты
  .socials-container
    .vk
    .inst
  .container
  p.copywrite © 2018 Cakes