section.section.section-fourth
  .row.lalala
    .col-md-7
    .col-md-4
      h2 Как заказать
      .punkt
        .number 1
        .info
          p.title Срок заказа
          p.information Размещать заказы желательно за 2-3 дня. На выходные заказы лучше размещать минимум за неделю.
      .punkt
        .number 2
        .info
          p.title Доставка по городу
          p.information Доставка по городу 200рублей, при заказе на сумму боле 2000 доставка бесплатно.
      .punkt
        .number 3
        .info
          p.title Доставка за городом
          p.information Доставка за пределами города расчитывается индивидуально
