nav.navbar
  .container
    .navbar__links
      a Cakes
      a наши торты
      a индивидуальный заказ
      a отзывы
      a о нас
      a как заказать
      a контакты
    a.navbar__phone(href="tel:+89068999226") +7 (906) 899-92-26