section.section.-second-section
  .container
    h2 Наши торты
    .cakes-container
      .col-md-6
        .cake
          .cake__title
            p Классические
            p 24 вида
          img.cake-photo(src="./assets/images/section-second__big-cake1.png")
          .cake-learn-more
            p Смотреть
            img(src="./assets/images/right-arrow.svg")
      .col-md-1
      .col-md-5
        .cake
          .cake__title
            p Муссовые
            p 12 видов
          img.cake-photo(src="./assets/images/section-second__cake1.png")
          .cake__learn-more
            p Смотреть
            img(src="./assets/images/right-arrow.svg")
        .cake
          .cake__title
            p Свадебные
            p 20 видов
          img.cake-photo(src="./assets/images/section-second__cake2.png")
          .cake__learn-more
            p Смотреть
            img(src="./assets/images/right-arrow.svg")
    .cakes-container2
      .col-md-5
        .cake
          .cake__title
            p Мужчинам
            p 12 видов
          img.cake-photo(src="./assets/images/section-second__cake3.png")
          .cake__learn-more
            p Смотреть
            img(src="./assets/images/right-arrow.svg")
        .cake
          .cake__title
            p Женщинам
            p 16 видов
          img.cake-photo(src="./assets/images/section-second__cake4.png")
          .cake__learn-more
            p Смотреть
            img(src="./assets/images/right-arrow.svg")
      .col-md-1
      .col-md-6
        .cake
          .cake__title
            p Детские
            p 18 вида
          img.cake-photo(src="./assets/images/section-second__big-cake2.png")
          .cake-learn-more
            p Смотреть
            img(src="./assets/images/right-arrow.svg")
