doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cakes
        link(type="text/css" rel="stylesheet" href="./assets/css/main.css")


    body
        include includes/main.pug
        script(type="text/javascript" src="./assets/scripts/main.js")